<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Media Capture
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <button ion-button full (click)="captureAudio()">Capture Audio</button>
    </ion-col>
    <ion-col>
      <button ion-button full (click)="captureVideo()">Capture Video</button>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-item *ngFor="let file of mediaFiles" tappable (click)="play(file)" text-wrap>
      {{ file.name }}
      <p>{{ file.size / 1000 / 1000 | number }} MB</p>
      <p>{{ file.loc }}</p>
      <div style="position: relative">
        <div style="position:absolute;top: 38%;left: 42%;">
          <div style="background-color: grey;border-radius: 50%;width:60px;">
            <ion-icon name="ios-play" style="color:azure;font-size: 60px;padding-left:30%;"></ion-icon>
          </div>
        </div>
        <img src="{{ thumbImg }}" style="width:100%" height="300px">
      </div>
    </ion-item>
  </ion-list>
</ion-content>
